

.h-s-body{
    width:100%;
}
   
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh;
    padding-top: 100px;
  }


h1{
    font-size: 6vw;
    color:white;
    letter-spacing: 2px;
    
}

p{
    font-size: calc(12px + 1vw);
    padding:2%;
  
}



.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
    

    color:white;

  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 231px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}


.bubble{
    background-color: white;
}


.bubble > *{
    color: black;
}

.bubble > ul > li{
border:1px solid red;
padding:5% 0%;
}